<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/homestyle.css">
    <link rel="stylesheet" href="../static/navigation.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <style>
    html *{
        font-family: 'Roboto', sans-serif;
}
        footer
    {
        background: grey;
        font-size: 18px;
        padding: 30px;
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
		margin-top: 40px;
		margin-bottom:-499px;
    }
    body
    {
      zoom:80%;
    }
  </style>
  <body>
    <nav>
        <h1 style="margin-top:0px"><img src="../static/Title.png"><img src="../static/hitler.jpg" style="border-radius: 50%;width:80px;height: 78px;"></h1>
        
        <a href="home.html" class="nav-link.active">Home</a>
        <a href="artists.html" class="nav-link">Artists</a>
        <a href="about.html" class="nav-link">About</a>
        <a href="search.html" class="nav-link">Search</a>
        <a href="artiststoplight.html" class="nav-link">Artist Spotlight</a>
        <a href="playlist.html" class="nav-link">Playlist</a>       
    </nav>
    <h1 style="margin-top: 193px;">Top Charts</h1>
    
    <div class="chart-section">
      <h2>Top Artists</h2>
      <ul>
        <li><a href="Kanye_West.html"><img src="../static/kw.jpg" style="border-radius: 50%;width:80px;height: 78px;">Kanye West</a></li>
        <li><a href="Biggie.html"><img src="../static/biggie.jpg" style="border-radius: 50%;width:80px;height: 78px;">Biggie</a></li>
        <li><a href="Ice_Cube.html"><img src="../static/icecube.jpeg" style="border-radius: 50%;width:80px;height: 78px;">Ice Cube</a></li>
      </ul>
    </div>
    
    <div class="chart-section">
      <h2>Top Albums</h2>
      <ul>
        <li><a href="songs-Ice_Cube-AmeriKKKas_Most_Wanted.html"><img src="../static/amw.jpg" style="border-radius: 50%;width:80px;height: 78px;">AmeriKKKa's Most Wanted</a></li>
        <li><a href="songs-Kendrick-mAAD.html"><img src="../static/gkmc.jpg" style="border-radius: 50%;width:80px;height: 78px;">good kid, m.A.A.d city</a></li>
        <li><a href="songs-Biggie-Life_After_Death.html"><img src="../static/lad.png" style="border-radius: 50%;width:80px;height: 78px;">Life after Death</a></li>
      </ul>
    </div>
    
    <div class="chart-section">
      <h2>Top Songs</h2>
      <ul>
        <li><img src="../static/ftp.jpg" style="border-radius: 50%;width:80px;height: 78px;">Fuck Tha Police</li>
        <li><img src="../static/mmmp.webp" style="border-radius: 50%;width:80px;height: 78px;">Mo Money Mo Problems</li>
        <li><img src="../static/nip.jpg" style="border-radius: 50%;width:80px;height: 78px;">Niggas in Paris</li>
      </ul>
    </div>
    <script src="../static/script.js"></script>
    <footer>
      Copyright &copy; <script>2023</script>Reichening
      <a href="about.html">About</a>
    </footer>
  </body>
</html>
